body{margin: 0;
color: #40514E;
min-height: 100vh;
position: relative;
font-size: 20px
}
hr{width: 100px;
  color: #EAF6F6;
border-style: none;
border-top: dotted;
border-color: grey;
border-width: 5px;}
h2{font-size: 2.5rem;
color: #0F4C75;
font-weight: normal;
position: relative;bottom: 30px;}
.top-container{background-color: #EAF6F6;
height: 600px}
h1{margin: 0;;
  font-size: 5.62rem;
  line-height: 2;
color: #0F4C75;;}
h3{color: #88FFF7}


.name{text-decoration: underline;}
.top-container{text-align: center;}
.middle-container{text-align: center;
margin: 40px;0;}
.bottom-container{}
.bottom-cloud{position: absolute;left:250px;top: 300px;}
.top-cloud{padding-top: 50px;
  position: relative;left: 300px;}
margin-top: {50px;}
.top-container{
height: 650px;}
.mountain{height:300px;
position: absolute;top: 300px;right:550px ;bottom: 50px;left: 500px;
}
.my-image{
height: 220px;}
.bottom-container{text-align: center;
background-color: #66BFBF;
margin: ;
width: 100vw;


}
.skill-row{width: 50%;
margin:100px  auto 100px auto;
text-align: left;
line-height: 2}
.Skating{width: 20%;
float: right;
display: block;}
.Web-development{width:20%;
float: left;
margin: 20px;}
.btn {
  height: 40px
   background: #3D94F6;
   background-image: -webkit-linear-gradient(top, #3D94F6, #1E62D0);
   background-image: -moz-linear-gradient(top, #3D94F6, #1E62D0);
   background-image: -ms-linear-gradient(top, #3D94F6, #1E62D0);
   background-image: -o-linear-gradient(top, #3D94F6, #1E62D0);
   background-image: -webkit-gradient(to bottom, #3D94F6, #1E62D0);
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   color: #DD380D;
   font-family: Brush Script MT;
   font-size: 20px;
   font-weight: 100;
   padding: 10px;
   -webkit-box-shadow: 1px 1px 20px 0 #000000;
   -moz-box-shadow: 1px 1px 20px 0 #000000;
   box-shadow: 1px 1px 20px 0 #000000;
   text-shadow: 1px 1px 20px #000000;
   border: solid #337FED 1px;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
}

.btn:hover {
   border: solid #C2FF00 1px;
   background: #FF0C35;
   background-image: -webkit-linear-gradient(top, #FF0C35, #3D94F6);
   background-image: -moz-linear-gradient(top, #FF0C35, #3D94F6);
   background-image: -ms-linear-gradient(top, #FF0C35, #3D94F6);
   background-image: -o-linear-gradient(top, #FF0C35, #3D94F6);
   background-image: -webkit-gradient(to bottom, #FF0C35, #3D94F6);
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   text-decoration: none;
}


.btn-2 {
   background: #F63D3D;
   background-image: -webkit-linear-gradient(top, #F63D3D, #811616);
   background-image: -moz-linear-gradient(top, #F63D3D, #811616);
   background-image: -ms-linear-gradient(top, #F63D3D, #811616);
   background-image: -o-linear-gradient(top, #F63D3D, #811616);
   background-image: -webkit-gradient(to bottom, #F63D3D, #811616);
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   color: #FFFFFF;
   font-family: Brush Script MT;
   font-size: 20px;
   font-weight: 200;
   padding: 19px;
   -webkit-box-shadow: 1px 1px 6px 0 #000000;
   -moz-box-shadow: 1px 1px 6px 0 #000000;
   box-shadow: 1px 1px 6px 0 #000000;
   text-shadow: 1px 1px 6px #000000;
   border: solid #762C2C 1px;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
}

.btn-2:hover {
   border: solid #FFAE00 1px;
   background: #EEF515;
   background-image: -webkit-linear-gradient(top, #EEF515, #F63D3D);
   background-image: -moz-linear-gradient(top, #EEF515, #F63D3D);
   background-image: -ms-linear-gradient(top, #EEF515, #F63D3D);
   background-image: -o-linear-gradient(top, #EEF515, #F63D3D);
   background-image: -webkit-gradient(to bottom, #EEF515, #F63D3D);
   -webkit-border-radius: 51px;
   -moz-border-radius: 51px;
   border-radius: 51px;
   text-decoration: none;
}
.coppy-right{margin-block-start:0;
margin-block-end:0;
color: #EAF6F6}
